.chatroom {
  display: flex;
  padding-top: 4%;
  height: 96vh;

  h2 {
    margin-top: 0;
  }

  .chatroom_contacts {
    width: 28%;
    text-align: left;
    border-right: 2px solid grey;
    margin: 0 0 0 10px;
    position: fixed;
    height: 100%;

    .chatroom_contacts_list {
      margin-top: 10px;
    }
  }

  .chatroom_chat {
    position: relative;
    width: 100%;
    left: 30%;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 70%;
    height: 94%;

    h2{
      margin-left: 10px;
    }
  }

  .chatroom_form {

    .MuiInput-root {
      width: 48%;
    }
    form {
      display: flex;
      align-items: center;
      margin: 0px 10px;
      width: 100%;
      top: 94%;
      position: fixed;

      button {
        width: 10%;
      }
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}
